@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Pacifico&display=swap');
body {
	font-family: 'Pacifico', cursive;
}
.fab{
	font-size: 4rem;
}
.fa-youtube{
	color: #FF0006;
}
.fa-internet-explorer{
	color: #FD01A4;
}
.fa-facebook-square{
	color: #2A22DC;
}
.fa-google-plus-g{
	color: #FF9200;
}
.bg-primary{
	background-color: #000020 !important;
	width: 100%;
	height: 200px;
}
.bg-primary p.atxt{
	color: #F4900A;
}
hr.hrcss{
	width: 50%;
	border-top: 3px solid #FF0006;
	height: 3px;
	margin-top: 5px;
	margin-bottom: 5px;
}