<body>
<div class="container-fluid">
	<div class="row text-center">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h2 style="margin-top: -1rem">contact us</h2>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row text-center">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<i class="fab fa-youtube "></i>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<i class="fab fa-internet-explorer"></i>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<i class="fab fa-facebook-square"></i>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<i class="fab fa-google-plus-g "></i>
		</div>
	</div>
</div>
<div class="container-fluid bg-primary text-center " style="margin-top: 1.5rem;">
	<div class="row" style="margin-top: 2rem;">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<i class='fas fa-biohazard' style='font-size:30px;color:#FFB100'></i>
			<hr class="hrcss">
				<p class="atxt">Admin: Mr TOM</p>
				<hr class="hrcss">
				<p class="atxt">Webside Evolution</p>
				<p class="atxt">Mobile Evolution</p>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<i class='fas fa-phone-square-alt' style='font-size:30px; color: #24DAD8'></i>
			<hr class="hrcss">
				<p class="atxt">0909-7659-0095</p>
				<hr class="hrcss">
				<p class="atxt">Email: minion@gmail.com</p>
				<p class="atxt">TP.Hồ Chí Minh, Quận 12</p>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<i class='fas fa-calendar-alt' style='font-size:30px;color:red'></i>
			<hr class="hrcss">
				<p class="atxt">Working hours</p>
				<hr class="hrcss">
				<p class="atxt">Monday-Friday: 8AM-5PM</p>
				<p class="atxt">Weekend: on side 12 hour</p>
		</div>
	</div>
</div>
</body>

