.grid-box{
	display: grid;
	grid-template-columns: 12.5% 13% 13% 13% 13% 13%;
	grid-gap: 40px;
	position: relative;
	margin-top: 30px;
	margin-left: 3rem;
}
.item{
	height: 195px;
	border: 4px solid #AE25D9 ;
	background-color: #03FBDD;
}
.item:hover{
	/* opacity: 50%; */
}
.box{
	
	background-size: contain; 
	background-repeat: no-repeat;
	text-align: center;
}

.item button{
	margin-top: 145px;
	background-color: #F98605 !important;
	border-radius: 5px;
}
.item button:hover{
	background-color: #E3ED11;
	color: #000;
	border-color: #f00;
}

