
<div class="container-fluid">
	<div class="grid-box">
		<div class="item box" style="background-image: url('./assets/image/m1.png');">
			<button type="button" class="btn btn-info" (click)="onlick('trailer1')"
			>Trailer</button>
		</div>
		<div class="item box" style="background-image: url('./assets/image/m12.jpg');">
			<button type="button" class="btn btn-info" (click)="onlick('trailer2')"
			>Trailer</button>
		</div>
		<div class="item box" style="background-image: url('./assets/image/m2.jpg');">
			<button type="button" class="btn btn-info" (click)="onlick('trailer3')"
			>Trailer</button>
		</div>
		<div class="item box" style="background-image: url('./assets/image/m3.jpg');">
			<button type="button" class="btn btn-info" (click)="onlick('trailer4')"
			>Trailer</button>
		</div>
		<div class="item box" style="background-image: url('./assets/image/m4.jpg');">
			<button type="button" class="btn btn-info" (click)="onlick('trailer5')"
			>Trailer</button>
		</div>
		<div class="item box" style="background-image: url('./assets/image/m5.jpeg');">
			<button type="button" class="btn btn-info" (click)="onlick('trailer6')"
			>Trailer</button>
		</div>
		<div class="item box" style="background-image: url('./assets/image/m6.jpg');">
			<button type="button" class="btn btn-info" (click)="onlick('trailer7')"
			>Trailer</button>
		</div>
		<div class="item box" style="background-image: url('./assets/image/m7.jpg');">
			<button type="button" class="btn btn-info" (click)="onlick('trailer8')"
			>Trailer</button>
		</div>
		<div class="item box" style="background-image: url('./assets/image/m8.png');">
			<button type="button" class="btn btn-info" (click)="onlick('trailer9')"
			>Trailer</button>
		</div>
		<div class="item box" style="background-image: url('./assets/image/m9.jpg');">
			<button type="button" class="btn btn-info" (click)="onlick('trailer10')"
			>Trailer</button>
		</div>
		<div class="item box" style="background-image: url('./assets/image/m10.jpg');">
			<button type="button" class="btn btn-info" (click)="onlick('trailer11')"
			>Trailer</button>
		</div>
		<div class="item box" style="background-image: url('./assets/image/m11.jpg');">
			<button type="button" class="btn btn-info" (click)="onlick('trailer12')"
			>Trailer</button>
		</div>
	</div>
</div>
<div class="container-fluid text-center">
	<div class="row">
		<button type="button" class="btn btn-info" (click)="onlick('video')" style="margin-top: 4rem">video</button>
	</div>
</div>

