<button type="button" class="fun" data-toggle="collapse" data-target="#emoj">click to fun vs emoji</button>
<div id="emoj" class="collapse">
	<div class="container-fluid">
		<div class="row text-center">
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<img src="assets/gif/gif1.gif" alt="gif1" width="90">
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<img src="assets/gif/gif2.gif" alt="gif2" width="90">
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<img src="assets/gif/gif3.gif" alt="gif3" width="90">
			</div>
		</div>
	</div>
</div>
<!-- --------------- -->
<div class="container-fluid">
	<div class="row text-center text">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h1 class="text-uppercase">danh sach quang tri vien</h1>
		</div>
	</div>
</div>
<!-- ------------------- -->
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<div class="card bg-primary|secondary|success|danger|warning|info|light|dark text-primary|secondary|success|danger|warning|info|light|dark" style="text-align: center">
			  <img src="assets/image/cart5.jpg" class="card-img-top" alt="cart1" width="300px">
			  <button type="button" class="fun" data-toggle="collapse" data-target="#tito1">thông tin</button>
			  	<div id="tito1" class="collapse">
			  <div class="card-body bg-primary">
			  	<h3 class="card-title text-center"> Mr TOM</h3>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  </div>
				</div>
			</div>
		</div>
		<!-- ---------------- -->
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<div class="card bg-primary|secondary|success|danger|warning|info|light|dark text-primary|secondary|success|danger|warning|info|light|dark" style="text-align: center">
			  <img src="assets/image/cart4.jpg" class="card-img-top" alt="cart2" width="300px">
			   <button type="button" class="fun" data-toggle="collapse" data-target="#tito2">thông tin</button>
			  	<div id="tito2" class="collapse">
			  <div class="card-body bg-primary">
			  	<h3 class="card-title text-center"> Mr jery</h3>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  </div>
				</div>
			</div>
		</div>
		<!-- --------------- -->
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<div class="card bg-primary|secondary|success|danger|warning|info|light|dark text-primary|secondary|success|danger|warning|info|light|dark" style="text-align: center">
			  <img src="assets/image/cart6.jpg" class="card-img-top" alt="cart3" width="300px" height="300px">
			   <button type="button" class="fun" data-toggle="collapse" data-target="#tito3">thông tin</button>
			  	<div id="tito3" class="collapse">
			  <div class="card-body bg-primary">
			  	<h3 class="card-title text-center"> Mr oggy</h3>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  </div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ---------------------- -->
<hr class="abc">
<h3 class="text-danger text-center">Gioi Thieu Chung</h3>
<div class="container-fluid " >
	<div class="row ">
		<div class="col-lg-5 text-center">
			<p >
				<iframe width="400" height="300" src="https://www.youtube.com/embed/KSZUB2FoDEw?list=PLqoCy6aimq-fVQXYsvG4gJ25L8yLxCvhS" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</p>
			<p>[Vietsub | Hán Việt] Long Vuong Truyen Thuyet - Trương Thiều Hàm (OST Đấu La Đại Lục 2020)</p>
		</div>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center">
			<div style="border-left: 5px solid #f00; width: 5px; height: 180px; margin-left: 85px; margin-top: 25px"></div>
		</div>
		<div class="col-lg-5 text-center">
			<p class="text-center"> 
				<iframe width="400" height="300" src="https://www.youtube.com/embed/iAxy9w1WqSY?list=PLqoCy6aimq-fVQXYsvG4gJ25L8yLxCvhS" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</p>
			<p>[Vietsub | Hán Việt] Phá Kén - Trương Thiều Hàm (OST Đấu La Đại Lục 2020)</p>
		</div>
	</div>
</div>
<hr class="abc">

