<!-- phan header  -->
<a href="https://id.kul.vn/dang-nhap.html?ref=http%3A%2F%2Fgame.kul.vn%2Fbangbang%2Fkhai-hoa.html&refapp=23">
	<img src="assets/gif/gif4.gif" alt="gif4" width="60" 
	style="display: inline-block; position: fixed; z-index: 9999; right:30px; bottom: 50px;border-radius: 80px" >
</a>

<style type="text/css" media="screen">
	img {
		border-radius: 70px;
	}
	hr.abc{
		border-top: 3px solid #f00;
		width: 80%;
		height: 3px;
	}
	img.abcd{
		border-radius: 0;
	}
</style>
<app-header></app-header>
<!-- --- phan nav --- -->
<app-nav></app-nav>
<hr class="abc">
<app-navbarvideo></app-navbarvideo> <!-- navbar video load -->
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
			<p style="background-image: url(./assets/image/bg2.jpg);height: 600px; margin-left: -15px">
				<router-outlet></router-outlet>
			</p>
		</div>

		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
			<p style="background-image: url(./assets/image/bg5.jpg);height: 600px ;margin-left: -20px">
			</p>
		</div>
	</div>
</div>
<app-title></app-title>
<!-- ========footter========== -->
<app-footter></app-footter>
<!-- 

 -->



