<div class="container-fluid">
	<input type="checkbox" id="check">
	<div class="row">
		
		<div class="left_a">
			<h3>Menu<span>Movie</span></h3>
		</div>
		<label for="check" id="side_btn">
			<i class='fas fa-align-justify'></i>
		</label>
		<div class="right_a">
			<a href="/trailer3">LogOut</a>
		</div>
		<div class="right_a1">
			<a href="/trailer3">LogIn</a>
		</div>
		<!-- ------------- -->
	</div>
	<!-- ------------------------------ -->
	<div class="side_bar">
		<span>
			<img src="assets/image/cart7.jpg" class="profile_image" alt="cart4" width="80">
			<h4>Mr ORC</h4>
		</span>
		<a href=""><i class='fas fa-address-book'></i><span> home</span></a>
		<a href=""><i class='fas fa-air-freshener'></i><span> menu</span></a>
		<a href=""><i class='fab fa-algolia'></i><span> movie</span></a>
		<a href=""><i class='fas fa-anchor'></i><span> about</span></a>
		<a href=""><i class='fas fa-at'></i><span>contact</span></a>
	</div>
	
</div>
