
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<body class="" id="body1">
				<button type="button" class="btn btn-danger" >button</button>
				<h1 id="test">sssssssss</h1>
				<img class="image" src="assets/image/cart1.png" alt="cart1">
				<p class="ppp">adafdzvsfsczxvzfacsCacszcCSCzdvadazfszf</p>
				<p class="ppp">adafdzvsfsczxvzfacsCacszcCSCzdvadazfszf</p>
				<button type="button" class="btn btn-default" (click)="addbg('ppp1')">button1</button>
			</body>
			<div class="dropdown drop">
				<button class="btn">dropdown</button>
				<ul class="dropdown-men">
					<li><a href="">drop lv1</a></li>
					<li><a href="">drop lv1</a></li>
					<li><a href="">drop lv1</a></li>
				</ul>
			</div>
			<div class="dropdown drop">
				<button class="btn">dropdown</button>
				<ul class="dropdown-men">
					<li><a href="">drop lv1</a></li>
					<li><a href="">drop lv1</a></li>
					<li><a href="">drop lv1</a></li>
				</ul>
			</div>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<h2 id="test2">aaaaaaaaaaaaaaaaa</h2>
			<button type="button" class="btn btn-info" (click)="onlick()">button</button>
			<p><span class="demo"></span>aaa</p>
			<p><span class="demo1" ></span>sss</p>
			<a href="" id="aa1"><span></span>qqqq1</a>
			<a href="" id="aa2"><span></span>hhhh2</a>
			<a href="" id="aa3"><span></span>jjjj3</a>
			<a href=""><span></span>kkkk4</a>
			<a href=""><span></span>uuuu5</a>
			<a href=""><span></span>mmmm6</a>
			<span  class="addbg">
				<h3>aaaa1</h3>
			</span>
			<span class="addbg">
				<h3>aaaa2</h3>
			</span>
			<span class="addbg">
				<h3>aaaa3</h3>
			</span>
			<h4 class="hf4" id="hf4">zzzzzzzzzzzzzzzzzzzzzzzzzzz</h4>
			<form action="">
				<select name="year" id="" size="5">
				
				</select>
			</form>

			<form action="">
				<select name="year" id="" >
				
				</select>
			</form>
			<form action="">
				<select name="cuntry" id="" >
				
				</select>
			</form>
		</div>
	</div>
	

