.{
	margin: 0;
	padding: 0;

}
/* ================================================= */
div.jumbotron{
	width: 100%;
	height: 130px;
	text-align: center;
	font-size: 16px;
	padding: 5rem;
	border-radius: 10px;
}
div span.jum {
	font-size: 2rem;
	color: rgba(12, 47, 190, 1.0);
	text-shadow: 5px 5px 5px #000 ;
	display: inline-block;
	margin-top: -3rem;

}
div span.jum button.btn-primary{
	display: inline-block;
	margin-top: -1rem;
}

div span a button.btn-primary:hover{
	background-color: #1AD0E4;
	color: #000;
}
/* ==================================================== */
div.padding{
	margin-top: -30px;
}
.wellcome hr {
	border-top: 2px solid rgb(190, 60, 0);
	width: 90%;
	margin-bottom: 10px;
}
/* ======================================================= */
div.bg-primary{
	font-size: 16px;
	text-align: center; /* canh giua phan tu cha de co dinh phan tu con */
	padding-top: 3rem;
}
.container-fluid div.icon i {
	/* margin-top: 2rem;
	margin-left: 19rem;
	font-size: 3rem; */
	color: #FF9600;
	font-size: 3rem;
	display: inline-block;
}
.container-fluid div.icon i:hover {
	display: inline-block;
	font-size: 4rem;
	color: #FF00F9;
}

.container-fluid div.icon h3 {
	/* margin-left: 15rem; */
	margin-top: 1rem;
	font-size: 3rem;


}
.container-fluid div.icon p {
	/* margin-left: 15rem; */
}
