<!-- ========================== -->

<!-- ========================== -->

<div class="container-fluid">
	<div class="jumbotron">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<span class="jum">
				<p>webside hoat hinh trung quoc </p>
				<a class="btn_jum">
					<button type="button" class="btn btn-primary ">mua hàng</button>
				</a>
			</span>
		</div>
	</div>
</div>
<div class="container-fluid padding">
	<div class="row wellcome text-center">
		<div class="col-xs-12">
			<h1 class="display-4">welcom Anime</h1>
			<hr>
			<p> anime tutolrial aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
		</div>
	</div>
</div>
<div class="container-fluid bg-primary">
	<div class="row icon">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<i class="fas fa-cat" ></i>
			<h3>here to cat</h3>
			<p>cat my friend go to </p>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<i class="fab fa-youtube" aria-hidden="true"></i>
			<h3>here youtube</h3>
			<p>youtube my friend go to</p>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<i class="fab fa-apple"></i>
			<h3>here apple</h3>
			<p>apple my friend go to</p>
		</div>
	</div>
</div>
<div class="container-fluid ">
  
</div>
