<div class="container-fluid">

	<input type="checkbox" id="check">

	<div class="row">
		<div class="nav_header1">
			<label for="check">
				<a><i class='fas fa-sort-amount-down-alt'></i></a>
			</label>
			<div class="right_a text-center">
				<p>login</p>
			</div>
		</div>
	</div>
	<div class="nav_conten text-center">
			<span>
				<img src="assets/image/cart8.jpg" alt="cart8" width="100">
				<h3>Mr Evolution</h3>
			</span>
			<span class="conten_item">
				<a><i class='fas fa-shipping-fast'></i><span>menu</span></a>
				<a><i class='fas fa-shopping-cart'></i><span>list</span></a>
				<a><i class='fas fa-sim-card'></i><span>item</span></a>
				<a><i class='fab fa-skype'></i><span>phone</span></a>
				<a [routerLink]="['/home']"><i class='fas fa-snowplow'></i><span>about</span></a>
			</span>
	</div>
	<div for="check1">
		<form class="form1" >
			<legend>Form title</legend>
		
			<div class="form-group">
				<label for="">label</label>
				<input type="text" class="form-control" id="" placeholder="Input field">
			</div>

			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
			<input type="checkbox" id="check1">
</div>
